/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 300;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-Light.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('fonts/woff/PeydaWebFaNum-Light.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 400;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-Regular.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*	url('fonts/woff/PeydaWebFaNum-Regular.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 500;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-Medium.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('fonts/woff/PeydaWebFaNum-Medium.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 600;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-SemiBold.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('fonts/woff/PeydaWebFaNum-SemiBold.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 700;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-Bold.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*	url('fonts/woff/PeydaWebFaNum-Bold.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 800;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-ExtraBold.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('fonts/woff/PeydaWebFaNum-ExtraBold.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
/*@font-face {*/
/*	font-family: Peyda;*/
/*	font-style: normal;*/
/*	font-weight: 900;*/
/*	src: url('fonts/woff2/PeydaWebFaNum-Black.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('fonts/woff/PeydaWebFaNum-Black.woff') format('woff');  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*}*/
